/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  cursor: none !important;
}

.section {
  transition: transform 0.5s ease-in-out;
}

.active {
  transform: translateY(0);
}


.custom-cursor {
  @apply absolute w-24 h-24 rounded-full border-2 border-opacity-50 border-white pointer-events-none transform -translate-x-1/2 -translate-y-1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: transform 0.2s ease;
}

.custom-cursor::before {
  content: '';
  @apply absolute w-24 h-24 rounded-full bg-violet-500;
  filter: blur(8px);
  opacity: 0.5;
  z-index: -1;
}

.custom-cursor::after {
  content: '🌟'; /* Varsayılan emoji */
  font-size: 1.5rem;
  z-index: 1;
}

/* Başlık ve paragraf seçim renkleri */
::selection {
  background-color: #fbcfe8; /* Açık pembe arka plan rengi */
  color: #6b21a8; /* Mor yazı rengi */
}

/* Başlık ve paragraf seçildiğinde özel renk */
h5::selection {
  background-color: #fbcfe8; /* Açık pembe arka plan rengi */
  color: #6b21a8; /* Mor yazı rengi */
}

p::selection {
  background-color: #e9d5ff; /* Mor arka plan rengi */
  color: #4a00e0; /* Mor yazı rengi */
}

